<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
    <ion-buttons  slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="layoutregistro">

  <div class="ion-text-center" id="foto-perfil">
    <img [src]="fotoPerfil" alt="Foto de perfil" id="imagen-perfil" (click)="fileInput.click()">
    <input type="file" accept="=images/*" (change)="cambiarFotoPerfil($event)" hidden #fileInput>
  </div>

  <div id="registrouser">
    <ion-card class="center" id="formRegistro">
      <form [formGroup]="persona" (ngSubmit)="registrar()">
        <ion-card-header class="ion-text-center">Registro de Usuario</ion-card-header>
        <ion-card-content>
          <ion-input formControlName="rut" type="text" labelPlacement="stacked" label="RUT" fill="outline"></ion-input>

          <ion-input formControlName="nombre" type="text" labelPlacement="stacked" label="Nombre" fill="outline"></ion-input>

          <ion-input formControlName="correo" type="email" labelPlacement="stacked" label="Correo" fill="outline" placeHolder="ejemplo@correo.com"></ion-input>

          <ion-input formControlName="fecha_nacimiento" type="date" labelPlacement="stacked" label="Fecha de Nacimiento" fill="outline"></ion-input>

          <ion-input formControlName="password" type="password" labelPlacement="stacked" label="Contraseña" fill="outline">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>

          <ion-input formControlName="confirm_password" type="password" labelPlacement="stacked" label="Confirmar contraseña" fill="outline">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>

          <ion-select formControlName="genero" label="Género" labelPlacement="stacked" placeHolder="Género" fill="outline">
            <ion-select-option value="masculino">Masculino</ion-select-option>
            <ion-select-option value="femenino">Femenino</ion-select-option>
            <ion-select-option value="otro">Otro</ion-select-option>
          </ion-select>
          
          <ion-button size="block" [disabled]="persona.invalid" type="submit" color="secondary" shape="round">REGISTRARSE</ion-button>
          <br>
          <p class="ion-text-center">¿Ya tienes una cuenta? Ingresa <a routerLink="/login">aquí</a></p>
        </ion-card-content>
      </form>
    </ion-card>
  </div>
</ion-content>
