<ion-content>

  <div id="logo">
    <img src="assets/images/logo.png">
  </div>

  <div id="containerRecuperar">
    <ion-card class="center">
      <ion-card-header class="ion-text-center">Se ha envíado un código a su Email, ingrese el código a continuación para verificarlo</ion-card-header>
      <ion-card-content>
        <ion-input label="Código de Verificación" labelPlacement="stacked" fill="outline"></ion-input>
        <br>
        <ion-button (click)="cerrarModal()" color="secondary" size="block" shape="round">VERIFICAR</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
