<ion-content class="portada-content">
  <div class="portada-container">
    <div class="logo-container">
      <!-- Logo con el spinner girando alrededor -->
      <img src="../../../assets/images/logo.png" alt="Imagen Portada" class="portada-image">
      <ion-spinner name="crescent" class="spinner"></ion-spinner>
      <ion-label class="portada-label">MoveGo</ion-label>
    </div>

    <!-- Sección de derechos de autor -->
    <footer class="footer">
      <p class="footer-text">© 2024 MoveGo. Todos los derechos reservados.</p>
    </footer>
  </div>
</ion-content>