<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Taller</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="detalles-viaje" *ngIf="viaje">
    <ion-card-header>
      <ion-card-title>Detalles del Taller</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>Colaborador:</ion-label>
          <ion-text slot="end">{{ viaje.conductor }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Nombre del Taller:</ion-label>
          <ion-text slot="end">{{ viaje.nombre_destino }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="time-outline" slot="start"></ion-icon>
          <ion-label>Hora de Realización:</ion-label>
          <ion-text slot="end">{{ viaje.hora_salida }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="flag" slot="start"></ion-icon>
          <ion-label>Estado del Taller:</ion-label>
          <ion-text slot="end">{{ viaje.estado_viaje }}</ion-text>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!viaje">
    <ion-card-content>
      <p>Detalles del taller no disponibles.</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-button expand="full" color="danger" *ngIf="viajeTomado" (click)="cancelarViaje()">
  Cancelar Taller
</ion-button>

<ion-button expand="full" color="primary" *ngIf="viajeTomado" (click)="volver()">
  Volver
</ion-button>

<ion-button expand="full" color="warning" *ngIf="!viajeTomado" (click)="confirmarTomaViaje()">
  Tomar Taller
</ion-button>
