#recuperarUser{
    height: 60%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

#logo{
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%); 
    max-width: 200px;
  }